#receso{
	background-color: black;
 	color: #FFFFFFFF;
 	font-style: bold;
 	font-size: 20px;
}
#hora{
	background-color: black;
	color:#FFFFFFFF;
}
#titulo{
	background-color: black;
	color:white;
	font-size: 20px;
}